* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #6b83b2;
  margin: 3;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Form */
.task-form {
  background: rgb(0, 0, 0);
  max-width: 400px;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 8px;
}

.task-form input,
.task-form textarea,
.task-form select,
.task-form button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.task-form button {
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 0 5px;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.tab.active {
  background:#4f46e5;
  color:white;
}

/* Task List */
.task-list {
  max-width: 600px;
  margin: 0 auto;
}

.task-card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

/* Priority Colors */
.high {
  border-left: 5px solid red;
}

.medium {
  border-left: 5px solid orange;
}

.low {
  border-left: 5px solid green;
}

.task-actions button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.complete-btn {
  background: green;
  color: white;
}

.delete-btn {
  background: red;
  color: white;
}
